*.pyc
.project
*.pydevproject
*.sqlite3
media/upload/art/04_-_wNP8ctk.jpg
media/upload/art/04_-_wNP8ctk_1.jpg
static/grappelli/tinymce/jscripts/tiny_mce/plugins/grappelli/img/Thumbs.db
media/upload/art/web_print_1.jpg
media/upload/main/web_print_1_1.jpg
media/upload/main/web_print_1.jpg
media/upload/main/Boohoo_o.jpg
artSite/migrations/0001_initial.py
media/upload/
artSite/migrations/
access.log*
media/
static/img/intro-bg-old.jpg
error.log
static/img/intro-bg.jpg
djipster/wsgi.py
