/*----- Ashley Smith Fantastic Styling -----*/

body {
	font-family: arial;
}


#piplayer {
	
}

/*----- Sidebar ----*/

#sidebar {
	float: left;
width: 20%;
}

.sidebar-nav {
	position: fixed;
}

#main-container {
	float: right;
width: 80%;
	padding: 0px;
}
